body {
    background-color:rgb(153, 192, 238);
    color:rgb(97, 132, 189);
    font-size:30px;
    text-align:center;
    line-height: 200px;
}
input {
    padding: 20px 90px;
    font-size: 15px;
    background-color:rgba(244, 249, 255, 0.767);
    color:rgb(97, 132, 189);
    border: 2px solid rgb(97, 132, 189);
    border-radius: 5px;
}
button {
    padding: 20px;
    font-size: 13px;
    background-color:rgba(244, 249, 255, 0.767);
    color:rgb(97, 132, 189);
    border: 2px solid rgb(97, 132, 189);
    border-radius: 5px;
}
select {
    border: none;
    outline: none;
    width: 100px;
    font-size: 15px;
    background: transparent;
    color: rgb(97, 132, 189);
}
select option {
    background-color: rgba(244, 249, 255, 0.767);
}
iframe {
    float: right;
    width: 250px;
    height: 800px;
    border: none;
}